.btn {
  color: $white !important;

  &:hover {
    background-color: $primary-500 !important;
  }

  &:active,
  &.active {
    background-color: $primary-400 !important;
  }
}

.btn-outline-primary {
  color: $primary !important;

  &:hover {
    background-color: $primary-100 !important;
  }
  &:active,
  &.active {
    background-color: $primary-200 !important;
  }
}
