$utilities: map-merge(
  $utilities,
  (
    "border-top": (
      property: border-top,
      class: border-top,
      responsive: true,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        // 保留原本的 border-top
        0: 0,
        // 保留原本的 border-top-0
        1: 1px solid var(--#{$prefix}border-color),
        2: 2px solid var(--#{$prefix}border-color),
        3: 3px solid var(--#{$prefix}border-color),
      ),
    ),
    "border-bottom": (
      property: border-bottom,
      class: border-bottom,
      responsive: true,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        // 保留原本的 border-bottom
        0: 0,
        // 保留原本的 border-bottom-0
        1: 1px solid var(--#{$prefix}border-color),
        2: 2px solid var(--#{$prefix}border-color),
        3: 3px solid var(--#{$prefix}border-color),
      ),
    ),
    "border-start": (
      property: border-start,
      class: border-start,
      responsive: true,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        // 保留原本的 border-start
        0: 0,
        // 保留原本的 border-start-0
        1: 1px solid var(--#{$prefix}border-color),
        2: 2px solid var(--#{$prefix}border-color),
        3: 3px solid var(--#{$prefix}border-color),
      ),
    ),
    "border-end": (
      property: border-end,
      class: border-end,
      responsive: true,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        // 保留原本的 border-end
        0: 0,
        // 保留原本的 border-end-0
        1: 1px solid var(--#{$prefix}border-color),
        2: 2px solid var(--#{$prefix}border-color),
        3: 3px solid var(--#{$prefix}border-color),
      ),
    ),
  )
);
