$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      responsive: true,
      property: font-size,
      class: fs,
      values:
        map-merge(
          map-get(map-get($utilities, "font-size"), "values"),
          (
            "xs": $font-size-base * 0.75,
            "sm": $font-size-base * 0.875,
            "lg": $font-size-base * 1.25,
          )
        ),
    ),
  )
);
