$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      values: (
        "xs": $font-size-base * 0.75,
        "sm": $font-size-base * 0.875,
        "lg": $font-size-base * 1.25,
      ),
    ),
  )
);
