<section class="products-banner bg-secondary-100 py-10">
  <div class="container">
    <div class="d-flex justify-content-end align-items-center">
      <!-- title -->
      <div class="products-banner__title">
        <h1 class="text-white z-2">產品分類</h1>
        <img src="/assets/images/banner/banner-title-bg.svg" alt="" />
      </div>
      <!-- pic -->
      <div class="products-banner__img ms-n12">
        <img src="/assets/images/banner/banner-pic.png" alt="" />
      </div>
      <!-- decorations -->
      <div class="decorations">
        <div class="decorations__top-left">
          <img src="/assets/images/banner/decoration1.svg" alt="" />
        </div>
        <div class="decorations__top-right">
          <img src="/assets/images/banner/decoration2.svg" alt="" />
        </div>
        <div class="decorations__bottom-right">
          <img src="/assets/images/banner/decoration3.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
