<footer class="footer text-center bg-secondary-400 py-10 py-lg-20">
  <div class="container">
    <div class="bg-white rounded p-6 p-md-12">
      <!-- logo -->
      <img src="/assets/images/logo.png" alt="" />
      <div class="d-flex flex-column flex-md-column-reverse">
        <!-- brand-icon -->
        <div class="d-flex justify-content-center border-bottom py-6">
          <div class="p-3">
            <div class="icon-wrapper">
              <img
                src="/assets/images/fi-rr-ig.svg"
                alt=""
                class="w-100 h-100"
              />
            </div>
          </div>
          <div class="p-3">
            <div class="icon-wrapper">
              <img
                src="/assets/images/fi-rr-fb.svg"
                alt=""
                class="w-100 h-100"
              />
            </div>
          </div>
          <div class="p-3">
            <div class="icon-wrapper">
              <img
                src="/assets/images/fi-rr-line.svg"
                alt=""
                class="w-100 h-100"
              />
            </div>
          </div>
        </div>
        <!-- link-tab -->
        <div
          class="d-flex flex-column flex-md-row justify-content-center border-top-0 border-top-md-1 py-6 pb-md-0 mt-md-6"
        >
          <a href="#" class="p-4 mb-6 mb-md-0 me-md-10">新品報到</a>
          <a href="#" class="p-4 mb-6 mb-md-0 me-md-10">關於 PlayGrow 親子學</a>
          <a href="#" class="p-4">親子育兒專欄</a>
        </div>
        <!-- text -->
      </div>
      <div
        class="text-center fs-sm text-gray-700 py-6 border-top border-top-md-0"
      >
        <p class="mb-4">Play Grow 親子學股份有限公司</p>
        <p>© Copyright 2024 TTH. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
