<footer class="footer text-center bg-secondary-400 py-10 py-lg-20">
  <div class="container">
    <div class="bg-white rounded p-6 p-md-12">
      <!-- logo -->
      <a href="index.html" class="mb-6">
        <img src="/assets/images/logo.png" alt="" />
      </a>
      <div class="d-flex flex-column flex-md-column-reverse">
        <!-- brand-icon -->
        <ul class="d-flex justify-content-center border-bottom pb-6">
          <li>
            <a href="#" class="p-3">
              <div class="icon-wrapper">
                <img
                  src="/assets/images/fi-rr-ig.svg"
                  alt=""
                  class="w-100 h-100"
                />
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="p-3">
              <div class="icon-wrapper">
                <img
                  src="/assets/images/fi-rr-fb.svg"
                  alt=""
                  class="w-100 h-100"
                />
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="p-3">
              <div class="icon-wrapper">
                <img
                  src="/assets/images/fi-rr-line.svg"
                  alt=""
                  class="w-100 h-100"
                />
              </div>
            </a>
          </li>
        </ul>
        <!-- link-tab -->
        <ul
          class="d-flex flex-column flex-md-row justify-content-center border-top-0 border-top-md-1 py-6"
        >
          <li class="mb-6 mb-md-0 me-md-6 me-lg-10">
            <a href="products.html" class="p-4">產品分類</a>
          </li>
          <li class="mb-6 mb-md-0 me-md-6 me-lg-10">
            <a href="about.html" class="p-4">關於 PlayGrow 親子學</a>
          </li>
          <li><a href="#" class="p-4">親子育兒專欄</a></li>
        </ul>
        <!-- text -->
      </div>
      <div
        class="text-center fs-sm text-gray-700 border-top border-top-md-0 pt-6"
      >
        <p class="mb-1 mb-md-4">Play Grow 親子學股份有限公司</p>
        <p>© Copyright 2024 TTH. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
