<nav class="navbar navbar-expand-lg py-4">
  <div class="container justify-content-between">
    <a class="navbar-brand p-0" href="#">
      <img src="/assets/images/logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler order-3"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end flex-grow-0 bg-secondary-100 px-3 py-6"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item me-lg-10 active">
          <a class="nav-link p-4" aria-current="page" href="#"
            >產品資訊
            <div class="icon-wrapper d-block d-lg-none ms-auto">
              <i class="fi fi-rr-angle-small-down d-block"></i>
            </div>
          </a>
        </li>
        <li class="nav-item me-lg-10">
          <a class="nav-link p-4" href="#"
            >關於PlayGrow親子學
            <div class="icon-wrapper d-block d-lg-none ms-auto">
              <i class="fi fi-rr-angle-small-down d-block"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-4" href="#"
            >親子育兒專欄
            <div class="icon-wrapper d-block d-lg-none ms-auto">
              <i class="fi fi-rr-angle-small-down d-block"></i>
            </div>
          </a>
        </li>
      </ul>
      <a
        href="#"
        class="btn btn-primary text-white d-block d-lg-none mt-auto rounded-pill"
        >登入 / 註冊</a
      >
    </div>
    <ul class="d-flex list-unstyled m-0 ms-auto ms-lg-0">
      <li>
        <a href="#" class="d-none d-xl-block p-3 me-6">
          <img src="/assets/images/fi-rr-search.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="#" class="d-none d-xl-block p-3 me-6">
          <img src="/assets/images/fi-rr-shopping-cart.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="#" class="d-block p-3">
          <img src="/assets/images/fi-rr-user.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</nav>
