@font-face {
  font-family: naikaifont;
  src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular-Lite.woff2)
    format("woff2");
}

.products-banner {
  position: relative;
  @include media-breakpoint-up(lg) {
    height: 560px;
  }

  .container {
    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }

  &__title {
    position: relative;
    width: 476px;
    height: 240px;
    font-family: "naikaifont";

    h1,
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__img {
    img {
      max-height: 440px;
    }
  }

  .decorations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > div {
      position: absolute;
    }

    &__top-left {
      top: 0;
      left: 0;
    }
    &__top-right {
      top: 0;
      right: 0;
    }
    &__bottom-right {
      bottom: 0;
      right: 0;
    }
  }
}
