//logo
.navbar-brand img {
  height: 48px;
  width: auto;
}

// nav-link
.navbar-nav .nav-link {
  display: flex;
  gap: 8px;
  border-radius: 8px;

  &:hover {
    background-color: $secondary-200;
  }

  &:active {
    color: $primary-600;
  }
}

.navbar-nav .nav-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/assets/images/icon.png) center / cover no-repeat;
}

//navbar-toggler
.navbar-toggler {
  border: none;
  padding: 12px;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}
