// timeline
.timeline-item + .timeline-item {
  position: relative;

  &::before {
    content: "\e0ef";
    font-family: "uicons-regular-straight";

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    font-size: 24px;
    color: $gray-700;

    position: absolute;
    left: 50%;
    top: -48px;
    transform: translate(-50%, 0);
  }
}

@include media-breakpoint-up(lg) {
  .timeline-item + .timeline-item::before {
    content: "\e0f1";
    top: 50%;
    left: -24px;
    transform: translate(0, -50%);
  }

  .timeline-item:nth-child(4)::before {
    display: none;
  }
}

// brand-story
.brand-story {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 276px;
    left: 84px;
    width: 140px;
    height: 112px;
    background: url(/assets/images/home/section4/art1.svg);
    background-size: contain;

    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }
}

// Corporate Social Responsibility
.csr {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 280px;
    right: -228px;
    width: 480px;
    height: 440px;
    background: url(/assets/images/banner/decoration3.svg);
    background-size: contain;

    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }
}
