// hero
.hero-section {
  background: url(/assets/images/home/hero/hero-bg.png) bottom / contain
    no-repeat;
}

@include media-breakpoint-down(sm) {
  .hero-section {
    background: url(/assets/images/home/hero/hero-bg.png) bottom / cover
      no-repeat;
    background-size: 1000px auto;
  }
}

@include media-breakpoint-up(lg) {
  .hero-png {
    margin-top: -276px;
  }
}

.hero-info {
  width: 322px;
  height: 284px;
  position: absolute;
  top: 30%;
  right: -234px;
}

// 超級品牌月
.product-card {
  &__badge {
    position: absolute;
    top: 32px;
    left: 32px;
    padding: 8px 12px;
  }

  &__favBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50px;
    color: $primary-600;
    background-color: white;

    .fi {
      width: 24px;
      height: 24px;
    }
  }
}

/* 預設向下排列 */
.swiper1 .swiper-wrapper {
  flex-direction: column;
  gap: 24px;
}

/* 576px 以上才橫向排列 */
@media (min-width: 576px) {
  .swiper1 .swiper-wrapper {
    flex-direction: row;
    gap: 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 48px;
  --swiper-theme-color: #{$primary-600};
  svg {
    display: none;
  }

  .fi {
    width: 24px;
    height: 24px;
  }
}

.swiper-button-prev {
  top: -84px !important;
  left: auto !important;
  right: 64px !important;
}
.swiper-button-next {
  top: -84px !important;
  right: 0 !important;
}

// 商品系列
// 裝飾圖
.product-series {
  background: url(/assets/images/home/section2/art1.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: url(/assets/images/home/section2/bg1.svg);
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: url(/assets/images/home/section2/bg2.svg);
    background-size: cover;
  }

  @include media-breakpoint-down(lg) {
    background: none;

    &::before,
    &::after {
      display: none;
    }
  }
}

// 主圖
.product-pic {
  max-width: 746px;
}

// 小圖
.pic-inline {
  max-width: 528px;
  gap: 12px;
  position: relative;
  z-index: 2;

  img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border: 4px solid $white;
    border-radius: 20px;
  }
}

@include media-breakpoint-up(md) {
  .pic-inline {
    gap: 24px;
    margin-top: -88px;
    margin-left: -128px;
  }
}

@include media-breakpoint-up(lg) {
  .product-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    z-index: 2;
  }

  .product-content2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50vw;
    transform: translate(0, -50%);
    z-index: 2;
  }
}

// 親子學
.use-cases::before {
  content: "";
  position: absolute;
  top: 120px;
  right: 20px;
  width: 240px;
  height: 240px;
  background: url(/assets/images/home/section3/art1.svg);
  background-size: contain;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.swiper2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-bg-pink,
.card-bg-pink-lg-yellow {
  background-image: url(/assets/images/home/section3/bg-pink-sm.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-bg-yellow,
.card-bg-yellow-lg-pink {
  background-image: url(/assets/images/home/section3/bg-yellow-sm.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@include media-breakpoint-up(lg) {
  .card-bg-pink,
  .card-bg-yellow-lg-pink {
    background-image: url(/assets/images/home/section3/bg-pink.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .card-bg-yellow,
  .card-bg-pink-lg-yellow {
    background-image: url(/assets/images/home/section3/bg-yellow.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.swiper2-pagination {
  --swiper-pagination-bullet-horizontal-gap: 12px;
  --swiper-theme-color: #{$primary-600};
  position: absolute;
  bottom: -24px !important;
  text-align: center;
}

// 從家開始
.learning-journey::before {
  content: "";
  position: absolute;
  top: 276px;
  left: 84px;
  width: 140px;
  height: 112px;
  background: url(/assets/images/home/section4/art1.svg);
  background-size: contain;
  z-index: -1;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
