.hero-section {
  background: url(/assets/images/hero-bg.png) bottom / contain no-repeat;
}

@include media-breakpoint-down(sm) {
  .hero-section {
    background: url(/assets/images/hero-bg.png) bottom / cover no-repeat;
    background-size: 1000px auto;
  }
}

.hero-title {
  font-size: 0;
  line-height: 0;
}
// @include media-breakpoint-down(sm) {
//   .hero-png {
//     margin-left: -12px;
//     margin-right: -12px;
//   }
// }
@include media-breakpoint-up(lg) {
  .hero-png {
    margin-top: -276px;
  }
}
