.menu-item a {
  padding: 24px;
  position: relative;
  margin-left: 24px;

  &::before {
    content: "";
    background: url(/assets/images/icon.png);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    background-size: cover;
  }
}
