<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>關於 PlayGrow｜Play Grow</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('layout/header') %>

    <%- include('./layout/banner', { currentPage: 'about' }) %>

    <main>
      <!-- 品牌年表 -->
      <section class="py-10 py-lg-25">
        <div class="container">
          <!-- title -->
          <h2 class="fs-0 lh-0 text-center mb-6 mb-lg-15">
            <picture class="mb-2 mb-lg-4">
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/about/title1.svg"
              />
              <img src="/assets/images/about/title1-sm.svg" alt="" />
            </picture>
          </h2>
          <!-- content -->
          <div class="row gx-24 gy-12 gy-lg-10">
            <!-- 01 -->
            <div class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100 h-100">
                <time
                  datetime="2004"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2004
                </time>
                <small class="text-gray-600">
                  第一家 PlayGrow 親子學開幕
                </small>
              </div>
            </div>
            <!-- 02 -->
            <div class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2028"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2028
                </time>
                <small class="text-gray-600">
                  第一家 PlayGrow 親子學開幕
                </small>
              </div>
            </div>
            <!-- 03 -->
            <div class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2010"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2010
                </time>
                <small class="text-gray-600">
                  PlayGrow 親子學線上購物網開始營運
                </small>
              </div>
            </div>
            <!-- 04 -->
            <div class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2018"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2018
                </time>
                <small class="text-gray-600"> 榮獲 ECSA 環保企業永續獎 </small>
              </div>
            </div>
            <!-- 05 -->
            <div class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2024"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2024
                </time>
                <small class="text-gray-600">
                  30 間店鋪達成，員工突破 1000 人
                </small>
              </div>
            </div>
            <!-- 06 -->
            <div class="timeline-item col-lg-4">
              <div class="p-6 bg-primary rounded-4 h-100">
                <time
                  class="h5 text-white d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  PlayGrow 的現在
                </time>
                <small class="text-white">
                  持續帶來最適合親子共玩、共學、共讀的玩具
                </small>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
