<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>關於 PlayGrow｜Play Grow</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('layout/header') %>

    <%- include('./layout/banner', { currentPage: 'about' }) %>

    <main>
      <!-- 品牌年表 -->
      <section class="py-10 py-lg-25">
        <div class="container">
          <!-- title -->
          <h2 class="fs-0 lh-0 text-center mb-6 mb-lg-15">
            <picture class="mb-2 mb-lg-4">
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/about/title1.svg"
              />
              <img src="/assets/images/about/title1-sm.svg" alt="" />
            </picture>
          </h2>
          <!-- content -->
          <ol class="row gx-lg-24 gy-12 gy-lg-10">
            <!-- 01 -->
            <li class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2004"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2004
                </time>
                <small class="text-gray-600">
                  第一家 PlayGrow 親子學開幕
                </small>
              </div>
            </li>
            <!-- 02 -->
            <li class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2028"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2028
                </time>
                <small class="text-gray-600">
                  第一家 PlayGrow 親子學開幕
                </small>
              </div>
            </li>
            <!-- 03 -->
            <li class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2010"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2010
                </time>
                <small class="text-gray-600">
                  PlayGrow 親子學線上購物網開始營運
                </small>
              </div>
            </li>
            <!-- 04 -->
            <li class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2018"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2018
                </time>
                <small class="text-gray-600"> 榮獲 ECSA 環保企業永續獎 </small>
              </div>
            </li>
            <!-- 05 -->
            <li class="timeline-item col-lg-4">
              <div class="p-6 border rounded-4 h-100">
                <time
                  datetime="2024"
                  class="h5 text-primary d-flex align-items-center gap-4 mb-3"
                >
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  2024
                </time>
                <small class="text-gray-600">
                  30 間店鋪達成，員工突破 1000 人
                </small>
              </div>
            </li>
            <!-- 06 -->
            <li class="timeline-item col-lg-4">
              <div class="p-6 bg-primary rounded-4 h-100">
                <div class="h5 text-white d-flex align-items-center gap-4 mb-3">
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  PlayGrow 的現在
                </div>
                <small class="text-white">
                  持續帶來最適合親子共玩、共學、共讀的玩具
                </small>
              </div>
            </li>
          </ol>
        </div>
      </section>

      <!-- 品牌故事 -->
      <section class="brand-story py-10 py-lg-25">
        <div class="container">
          <!-- title -->
          <h2 class="fs-0 lh-0 text-center mb-6 mb-lg-15">
            <picture class="mb-2 mb-lg-4">
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/about/title2.svg"
              />
              <img src="/assets/images/about/title2-sm.svg" alt="" />
            </picture>
          </h2>
          <!-- img -->
          <div
            class="ratio ratio-16x9 border border-8 border-secondary-400 rounded-3 overflow-hidden"
          >
            <img
              src="/assets/images/about/image1.png"
              alt=""
              class="object-fit-cover"
            />
          </div>
          <!-- content -->
          <div class="mt-6 mt-lg-15 bg-secondary-100 rounded-4 p-6 p-lg-12">
            <h3 class="fs-6 fs-lg-5 text-primary mb-6">
              孩子的每一次探索，從童趣開始
            </h3>
            <div class="fs-sm text-gray-700">
              <p class="mb-4">
                PlayGrow相信，學習不該只是課本上的知識，更是孩子探索世界的起點。我們以「玩中學、學中玩」為核心理念，精選全球優質教具與繪本，打造一個充滿啟發與樂趣的學習環境，陪伴每一位孩子快樂成長。
              </p>
              <p class="mb-4">
                在PlayGrow，我們深知每個孩子的學習節奏與興趣都獨一無二，因此我們的產品涵蓋
                Montessori
                感官教具、科學實驗箱、邏輯遊戲卡、磁性積木等多元選品，讓孩子在遊戲中激發思考、在探索中建立自信。
              </p>
              我們堅持選用安全、環保的材質，並與教育專家合作，確保每一件商品不只是好玩，更具教育價值。PlayGrow不只是教具商城，更是親子共學的起點，讓學習成為家庭中最美好的時光。
              選擇
              PlayGrow，讓我們一起為孩子打造一個充滿童趣、質感與成長力的學習世界。
            </div>
          </div>
        </div>
      </section>

      <!-- 社會責任 -->
      <section class="csr py-10 py-lg-25">
        <div class="container">
          <!-- title -->
          <h2 class="fs-0 lh-0 text-center mb-6 mb-lg-15">
            <picture class="mb-2 mb-lg-4">
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/about/title3.svg"
              />
              <img src="/assets/images/about/title3-sm.svg" alt="" />
            </picture>
          </h2>
          <!-- content -->
          <ul>
            <!-- 01 -->
            <div class="p-6 p-lg-0 mb-6 mb-lg-15">
              <li class="row align-items-center gy-6">
                <!-- img -->
                <div class="col-lg-6">
                  <div
                    class="ratio ratio-3x4 ratio-sm-16x9 rounded overflow-hidden"
                  >
                    <img
                      src="/assets/images/about/image2.png"
                      alt=""
                      class="object-fit-cover"
                    />
                  </div>
                </div>
                <!-- text -->
                <div class="col-lg-6">
                  <div class="p-lg-12">
                    <!-- title -->
                    <div class="d-flex align-items-center gap-4 mb-4 mb-lg-6">
                      <img
                        src="/assets/images/icon.png"
                        alt=""
                        style="width: 24px; height: 24px"
                      />
                      <h3 class="fs-6 fs-lg-5 text-primary">
                        推動教育平權與環境友善學習
                      </h3>
                    </div>
                    <!-- content -->
                    <p class="text-gray-700">
                      PlayGrow相信，每個孩子都應該擁有快樂學習的權利，不論出身背景或資源多寡。因此，我們積極推動教育平權，與非營利組織合作，捐贈教具與繪本至偏鄉學校與弱勢家庭，讓更多孩子能在遊戲中探索世界、在學習中找到自信與希望。我們也關注環境永續，選擇安全、無毒、可回收的材料製作教具，減少塑膠使用，並鼓勵家長與孩子一起培養環保意識，從小建立對地球的責任感。我們相信，教育不只是知識的傳遞，更是價值的種植。
                    </p>
                  </div>
                </div>
              </li>
            </div>
            <!-- 02 -->
            <div class="p-6 p-lg-0">
              <li class="row flex-lg-row-reverse align-items-center gy-6">
                <!-- img -->
                <div class="col-lg-6">
                  <div
                    class="ratio ratio-3x4 ratio-sm-16x9 rounded overflow-hidden"
                  >
                    <img
                      src="/assets/images/about/image3.png"
                      alt=""
                      class="object-fit-cover"
                    />
                  </div>
                </div>
                <!-- text -->
                <div class="col-lg-6">
                  <div class="p-lg-12">
                    <!-- title -->
                    <div class="d-flex align-items-center gap-4 mb-4 mb-lg-6">
                      <img
                        src="/assets/images/icon.png"
                        alt=""
                        style="width: 24px; height: 24px"
                      />
                      <h3 class="fs-6 fs-lg-5 text-primary">
                        為孩子與地球的未來努力
                      </h3>
                    </div>
                    <!-- content -->
                    <p class="text-gray-700">
                      PlayGrow承諾，在產品設計與選品過程中，堅持環保原則與社會責任。我們不僅關注孩子的學習，也關心他們成長的世界。透過實際行動，我們希望帶動更多家庭與企業，一起打造更公平、更永續的教育環境，讓每一份童趣都能延伸成改變社會的力量。
                    </p>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
