<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- hero -->
    <section class="hero-section overflow-hidden position-relative">
      <div class="container">
        <!-- content -->
        <div class="text-center text-lg-start">
          <!-- title -->
          <h1 class="d-flex flex-column fs-0 lh-0 pt-16 pt-lg-32 mb-6">
            <picture class="mb-2 mb-lg-4">
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/hero-title1.svg"
              />
              <img src="/assets/images/hero-title1-sm.svg" alt="" />
            </picture>
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/hero-title2.svg"
              />
              <img src="/assets/images/hero-title2-sm.svg" alt="" />
            </picture>
          </h1>
          <!-- text -->
          <div class="text-gray-600 mb-6">
            <p class="fs-lg-5 pb-2 pb-lg-4">精選美國親子權威品牌Montessori</p>
            <p class="fs-lg-5">打造孩子快樂學習の日常</p>
          </div>
          <!-- btn -->
          <a href="#" class="btn btn-primary w-50 w-lg-25">探索更多</a>
        </div>
        <!-- pic -->
        <!-- people -->
        <div class="row justify-content-lg-end">
          <div class="col-lg-9 me-lg-n13 px-sm-3 px-0">
            <picture>
              <source
                media="(max-width: 992px)"
                srcset="/assets/images/hero-sm.png"
              />
              <img src="/assets/images/hero.png" alt="" class="hero-png" />
            </picture>
          </div>
        </div>
        <!-- info -->
        <img
          src="/assets/images/hero-info.png"
          alt=""
          class="d-none d-md-block hero-info"
        />
      </div>
    </section>
    <!-- 超級品牌月 -->
    <section class="py-10 py-lg-25">
      <div class="container d-flex flex-column">
        <!-- title -->
        <h2 class="fs-0 lh-0 text-center text-lg-start mb-6 mb-lg-15">
          <picture class="mb-2 mb-lg-4">
            <source
              media="(min-width: 992px)"
              srcset="/assets/images/title1.svg"
            />
            <img src="/assets/images/title1-sm.svg" alt="" />
          </picture>
        </h2>
        <!-- cards -->
        <div class="overflow-visible position-relative mb-12 mb-lg-15">
          <div class="swiper">
            <div class="swiper-wrapper">
              <!-- 01 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/image.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h5 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h5>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-sr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 02 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/image2.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h5 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h5>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-rr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 03 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/image3.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h5 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h5>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-rr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 04 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/image4.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h5 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h5>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-rr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 05 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/image5.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h5 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h5>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-rr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 06 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/image7.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h5 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h5>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-sr-heart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev d-none d-lg-block">
            <i class="fi fi-rr-angle-small-left"></i>
          </div>
          <div class="swiper-button-next d-none d-lg-block">
            <i class="fi fi-rr-angle-small-right"></i>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- btn -->
        <button
          type="button"
          class="btn btn-outline-primary w-50 w-lg-25 align-self-center align-self-lg-end"
        >
          選購去
        </button>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/favBtn.js"></script>
    <script type="module" src="../js/swiper.js"></script>
  </body>
</html>
