<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- hero -->
    <section class="hero-section overflow-hidden">
      <div class="container position-relative">
        <!-- content -->
        <div class="text-center text-lg-start">
          <!-- title -->
          <h1 class="d-flex flex-column fs-0 lh-0 pt-16 pt-lg-32 mb-6">
            <picture class="mb-2 mb-lg-4">
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/home/hero/hero-title1.svg"
              />
              <img src="/assets/images/home/hero/hero-title1-sm.svg" alt="" />
            </picture>
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/home/hero/hero-title2.svg"
              />
              <img src="/assets/images/home/hero/hero-title2-sm.svg" alt="" />
            </picture>
          </h1>
          <!-- text -->
          <div class="text-gray-600 mb-6">
            <p class="fs-lg-5 pb-2 pb-lg-4">精選美國親子權威品牌Montessori</p>
            <p class="fs-lg-5">打造孩子快樂學習の日常</p>
          </div>
          <!-- btn -->
          <a href="#" class="btn btn-primary w-50 w-lg-25">探索更多</a>
        </div>
        <!-- pic -->
        <!-- people -->
        <div class="row justify-content-lg-end">
          <div class="col-lg-9 me-lg-n13 px-sm-3 px-0">
            <picture>
              <source
                media="(max-width: 992px)"
                srcset="/assets/images/home/hero/hero-sm.png"
              />
              <img
                src="/assets/images/home/hero/hero.png"
                alt=""
                class="hero-png"
              />
            </picture>
          </div>
        </div>
        <!-- info -->
        <img
          src="/assets/images/home/hero/hero-info.png"
          alt=""
          class="d-none d-xxl-block hero-info"
        />
      </div>
    </section>

    <!-- 超級品牌月 -->
    <section class="py-10 py-lg-25">
      <div class="container d-flex flex-column">
        <!-- title -->
        <h2 class="fs-0 lh-0 text-center text-lg-start mb-6 mb-lg-15">
          <picture class="mb-2 mb-lg-4">
            <source
              media="(min-width: 992px)"
              srcset="/assets/images/home/section1/title1.svg"
            />
            <img src="/assets/images/home/section1/title1-sm.svg" alt="" />
          </picture>
        </h2>
        <!-- cards -->
        <div class="overflow-visible position-relative mb-12 mb-lg-15">
          <div class="swiper swiper1">
            <div class="swiper-wrapper">
              <!-- 01 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/home/section1/image1.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h4 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h4>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-sr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 02 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/home/section1/image2.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h4 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h4>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-rr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 03 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/home/section1/image3.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h4 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h4>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-rr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 04 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/home/section1/image4.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h4 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h4>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-rr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 05 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/home/section1/image5.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h4 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h4>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-rr-heart"></i>
                  </button>
                </div>
              </div>
              <!-- 06 -->
              <div class="swiper-slide">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/home/section2/image2.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h4 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h4>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-sr-heart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev d-none d-lg-block">
            <i class="fi fi-rr-angle-small-left"></i>
          </div>
          <div class="swiper-button-next d-none d-lg-block">
            <i class="fi fi-rr-angle-small-right"></i>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- btn -->
        <button
          type="button"
          class="btn btn-outline-primary w-50 w-lg-25 align-self-center align-self-lg-end"
        >
          選購去
        </button>
      </div>
    </section>

    <!-- 商品系列 -->
    <section class="bg-secondary-100 py-lg-25 py-10">
      <!-- 01 -->
      <div
        class="container-fluid position-relative overflow-hidden mb-lg-42 mb-20"
      >
        <!-- pic -->
        <div class="container">
          <div class="col-lg-7">
            <img
              src="/assets/images/home/section2/image1.png"
              alt=""
              class="ratio ratio-75x60 border border-white border-4 mb-4 mb-lg-0 rounded-4"
            />
            <ul class="d-flex pic-inline">
              <li>
                <a href="#">
                  <img
                    src="/assets/images/home/section2/image2.png"
                    alt=""
                    class="ratio ratio-16x12"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="/assets/images/home/section2/image3.png"
                    alt=""
                    class="ratio ratio-16x12"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="/assets/images/home/section2/image4.png"
                    alt=""
                    class="ratio ratio-16x12"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- card-->
        <div class="container">
          <div
            class="product-content text-center text-lg-start d-flex bg-white p-12 mt-6 mt-lg-0"
          >
            <!-- content -->
            <div>
              <h2 class="fs-0 lh-0 mb-6">
                <picture class="mb-2 mb-lg-4">
                  <source
                    media="(min-width: 992px)"
                    srcset="/assets/images/home/section2/title1.svg"
                  />
                  <img
                    src="/assets/images/home/section2/title1-sm.svg"
                    alt=""
                  />
                </picture>
              </h2>
              <h3 class="h5 text-primary fw-bold fw-lg-normal mb-4">
                創意遊戲時光
              </h3>
              <p class="fs-sm fs-lg-md text-gray-600 mb-6">
                孩子倒出一盒五彩積木，眼睛閃閃發亮。磁性吸附的聲音，像是靈感的碰撞
                。一塊塊拼出城堡、動物、太空船，世界在小手中展開。你在旁陪伴，一起笑、一起想，學習從玩樂中自然萌芽。
              </p>
              <button type="button" class="btn btn-primary btn-primary w-75">
                探索更多
              </button>
            </div>
            <!-- art -->
            <div class="d-none d-xxl-block ms-28 mt-5 me-5 flex-shrink-0">
              <img src="/assets/images/home/section2/bg2.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- 02 -->
      <div class="container-fluid position-relative overflow-hidden">
        <!-- pic -->
        <div class="container d-flex flex-row-reverse">
          <div class="col-lg-7 d-flex flex-column align-items-end">
            <img
              src="/assets/images/home/section2/image5.jpg"
              alt=""
              class="ratio ratio-75x60 border border-white border-4 mb-4 mb-lg-0 rounded-4"
            />
            <ul class="d-flex pic-inline me-md-n32">
              <li>
                <a href="#" class="h-100">
                  <img
                    src="/assets/images/home/section2/image6.jpg"
                    alt=""
                    class="ratio ratio-16x12 object-fit-cover"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="/assets/images/home/section2/image7.jpg"
                    alt=""
                    class="ratio ratio-16x12"
                  />
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="/assets/images/home/section2/image8.jpg"
                    alt=""
                    class="ratio ratio-16x12"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- card-->
        <div class="container">
          <div
            class="product-content2 text-center text-lg-start bg-white d-flex p-12 mt-6 mt-lg-0"
          >
            <!-- art -->
            <div class="d-none d-xxl-block mt-5 me-18 flex-shrink-0">
              <img src="/assets/images/home/section2/bg3.svg" alt="" />
            </div>
            <!-- content -->
            <div>
              <h2 class="fs-0 lh-0 text-center text-lg-start mb-6">
                <picture class="mb-2 mb-lg-4">
                  <source
                    media="(min-width: 992px)"
                    srcset="/assets/images/home/section2/title2.svg"
                  />
                  <img
                    src="/assets/images/home/section2/title2-sm.svg"
                    alt=""
                  />
                </picture>
              </h2>
              <h3 class="h5 text-primary fw-bold fw-lg-normal mb-4">
                創意遊戲時光
              </h3>
              <p class="fs-sm fs-lg-md text-gray-600 mb-6">
                孩子倒出一盒五彩積木，眼睛閃閃發亮。磁性吸附的聲音，像是靈感的碰撞
                。一塊塊拼出城堡、動物、太空船，世界在小手中展開。你在旁陪伴，一起笑、一起想，學習從玩樂中自然萌芽。
              </p>
              <button type="button" class="btn btn-primary btn-primary w-75">
                探索更多
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 親子學 -->
    <section class="py-10 py-lg-25">
      <div class="container">
        <!-- title -->
        <h2 class="fs-0 lh-0 text-center mb-6 mb-lg-15">
          <picture class="mb-2 mb-lg-4">
            <source
              media="(min-width: 992px)"
              srcset="/assets/images/home/section3/title1.svg"
            />
            <img src="/assets/images/home/section3/title1-sm.svg" alt="" />
          </picture>
        </h2>
        <!-- cards -->
        <div class="swiper swiper2">
          <div class="swiper-wrapper">
            <!-- 01 -->
            <div class="swiper-slide">
              <div class="p-6 text-center">
                <div class="mb-6 card-bg-pink">
                  <img src="/assets/images/home/section3/image1.png" alt="" />
                </div>
                <h3 class="text-primary fw-bold mb-4">
                  “ 孩子的邏輯力，從遊戲中長出來 ”
                </h3>
                <h4 class="fs-lg fw-norma border-bottom pb-4 mb-4">
                  小金魚媽媽
                </h4>
                <p class="text-gray-600">
                  用了邏輯思維遊戲卡後，孩子開始主動思考、推理，連我都被他的創意嚇到！
                  每次玩都像在解謎，不只是玩具，更是腦力訓練的好幫手。
                  親子一起挑戰，笑聲和驚喜不斷，是我們最愛的共學時光！
                </p>
              </div>
            </div>
            <!-- 02 -->
            <div class="swiper-slide">
              <div class="p-6 text-center">
                <div class="mb-6 card-bg-yellow">
                  <img src="/assets/images/home/section3/image2.png" alt="" />
                </div>

                <h3 class="text-primary fw-bold mb-4">
                  “ 繪本不只是故事，是對話起點 ”
                </h3>
                <h4 class="fs-lg fw-norma border-bottom pb-4 mb-4">三寶媽咪</h4>
                <p class="text-gray-600">
                  這系列的中英文繪本真的太棒了！
                  孩子一邊聽故事，一邊學英文，還會問我好多問題。
                  我們一起討論角色、情節，感覺不只是閱讀，更是心靈交流。
                  每天睡前的繪本時間，成了我們最期待的儀式。
                </p>
              </div>
            </div>
            <!-- 03 -->
            <div class="swiper-slide">
              <div class="p-6 text-center">
                <div class="mb-6 card-bg-pink card-bg-pink-lg-yellow">
                  <img src="/assets/images/home/section3/image3.png" alt="" />
                </div>

                <h3 class="text-primary fw-bold mb-4">
                  “ 磁性積木，讓創造力無限延伸 ”
                </h3>
                <h4 class="fs-lg fw-norma border-bottom pb-4 mb-4">客家媳婦</h4>
                <p class="text-gray-600">
                  這款磁性積木超有魔力，孩子一玩就停不下來。
                  從簡單的形狀到複雜的結構，他自己設計、自己搭建，超有成就感！
                  我也會加入一起拼，發現原來積木不只是孩子的玩具，也是我們的共學橋樑。
                </p>
              </div>
            </div>
            <!-- 04 -->
            <div class="swiper-slide">
              <div class="p-6 text-center">
                <div class="mb-6 card-bg-yellow-lg-pink">
                  <img src="/assets/images/home/section3/image4.png" alt="" />
                </div>
                <h3 class="text-primary fw-bold mb-4">
                  “ 科學實驗箱，讓家裡變實驗室 ”
                </h3>
                <h4 class="fs-lg fw-norma border-bottom pb-4 mb-4">超人爸爸</h4>
                <p class="text-gray-600">
                  一打開實驗箱，孩子眼睛就亮了！
                  裡面有好多有趣的實驗，像是火山爆發、彩虹水層，邊玩邊學科學原理。
                  我們一起動手做，一起記錄結果，學習變得好有趣。
                  這是我最推薦的親子教具之一！
                </p>
              </div>
            </div>
          </div>
          <div class="swiper2-pagination"></div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/favBtn.js"></script>
    <script type="module" src="../js/swiper.js"></script>
  </body>
</html>
