<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>產品介紹｜Play Grow</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('layout/header') %>

    <%- include('./layout/banner', { currentPage: 'productIntroduction' }) %>

    <main class="py-10 py-md-25">
      <div class="container-lg">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb" class="mb-6 mb-md-15">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item">
              <a href="#">親子學 - 共學積木系列</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              創意積木系列
            </li>
          </ol>
        </nav>

        <!-- product-section -->
        <section>
          <!-- 產品圖片 -->
          <div class="row row-cols-1 row-cols-md-2 g-4 mb-6 mb-md-10">
            <div class="col">
              <div
                class="ratio ratio-4x3 border border-4 border-primary-600 rounded overflow-hidden"
              >
                <img
                  src="/assets/images/product-intro/image1.png"
                  alt=""
                  class="img-fluid w-100 h-100"
                  style="object-fit: cover; aspect-ratio: 1 / 1"
                />
              </div>
            </div>
            <div class="col">
              <div class="row g-4">
                <div class="col-6">
                  <div class="ratio ratio-4x3 rounded overflow-hidden">
                    <img
                      src="/assets/images/product-intro/image2.png"
                      alt=""
                      class="object-fit-cover"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="ratio ratio-4x3 rounded overflow-hidden">
                    <img
                      src="/assets/images/product-intro/image3.png"
                      alt=""
                      class="object-fit-cover"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="ratio ratio-4x3 rounded overflow-hidden">
                    <img
                      src="/assets/images/product-intro/image4.png"
                      alt=""
                      class="object-fit-cover"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="ratio ratio-4x3 rounded overflow-hidden">
                    <img
                      src="/assets/images/product-intro/image5.png"
                      alt=""
                      class="object-fit-cover"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 產品內容 -->
          <div class="row">
            <div class="col-md-7">
              <!-- title -->
              <div class="d-flex gap-6 align-items-center mb-4">
                <h1 class="fs-5 fs-md-4 fw-normal text-gray-900">
                  H2Mind - 彩虹磁力創意積木組(C003)
                </h1>
                <button
                  type="button"
                  class="product-card__favBtn favBtn position-relative"
                  style="top: 0; right: 0"
                  aria-label="加入收藏"
                >
                  <i class="fi fi-rr-heart"></i>
                </button>
              </div>
              <!-- badge -->
              <div class="d-flex gap-4 pb-6">
                <span
                  class="badge rounded-pill text-bg-secondary-300 fw-normal fs-sm px-2 py-1 lh-base"
                  >VIP 會員獨享</span
                >
                <span
                  class="badge rounded-pill text-bg-secondary-300 fw-normal fs-sm px-2 py-1 lh-base"
                  >周年慶 滿千送買</span
                >
              </div>
              <!-- price -->
              <div
                class="text-bg-secondary-100 p-6 rounded-4 border d-block d-md-none"
              >
                <!-- text -->
                <div class="mb-6">
                  <h2 class="fs-6 fs-md-4 fw-bold text-primary-600 mb-3">
                    NTD 5,161
                  </h2>
                  <small class="text-gray-600">已售出 3,321 件</small>
                </div>
                <!-- btn -->
                <div class="d-flex flex-column flex-md-row gap-4">
                  <button type="button" class="btn btn-primary w-md-50">
                    直接購買
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary bg-white w-md-50"
                  >
                    加進購物車
                  </button>
                </div>
              </div>
              <!-- 01 -->
              <div class="border-top mt-6 mt-md-0 pt-6">
                <h3 class="h6 fw-normal mb-6">
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  <span class="ms-4">產品說明</span>
                </h3>
                <ul class="text-gray-600 ms-7">
                  <li style="list-style: disc" class="mb-4">
                    繽紛色彩設計，打造孩子專屬的創意世界！
                  </li>
                  <li style="list-style: disc" class="mb-4">
                    磁力吸附結構，拼搭穩固又好拆，怎麼玩都順手！
                  </li>
                  <li style="list-style: disc" class="mb-4">
                    安全圓角材質，通過耐摔測試，爸媽安心、孩子開心！
                  </li>
                  <li style="list-style: disc" class="mb-4">
                    多元造型組件，室內外皆可遊玩，親子共學不受限！
                  </li>
                </ul>
              </div>
              <!-- 02 -->
              <div class="border-top mt-6 pt-6">
                <h3 class="h6 fw-normal mb-6">
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  <span class="ms-4">注意事項</span>
                </h3>
                <ul class="text-gray-600 ms-7">
                  <li style="list-style: disc" class="mb-4">離島不配送</li>
                  <li style="list-style: disc" class="mb-4">
                    避免使用腐蝕性強清潔劑，以延長使用年限。
                  </li>
                </ul>
              </div>
              <!-- 03 -->
              <div class="border-top mt-6 pt-6">
                <h3 class="h6 fw-normal mb-6">
                  <img
                    src="/assets/images/icon.png"
                    alt=""
                    style="width: 24px; height: 24px"
                  />
                  <span class="ms-4">產品規格</span>
                </h3>
                <ul class="text-gray-600 ms-7">
                  <li style="list-style: disc" class="mb-4">
                    材質：塑膠、聚酯纖維
                  </li>
                  <li style="list-style: disc" class="mb-4">
                    尺寸：36 × 25 × 24 cm
                  </li>
                  <li style="list-style: disc" class="mb-4">
                    適用年齡：3歲以上
                  </li>
                  <li style="list-style: disc" class="mb-4">
                    產地：美國設計 / 中國製造
                  </li>
                  <li style="list-style: disc" class="mb-4">保固：1 年保固</li>
                </ul>
              </div>
            </div>
            <!-- desktop -->
            <div class="col-md-5 d-none d-md-block">
              <div
                class="text-bg-secondary-100 p-6 rounded-4 border ms-6 ms-xl-15"
              >
                <!-- text -->
                <div class="mb-6">
                  <h2 class="fs-6 fs-md-4 fw-bold text-primary-600 mb-3">
                    NTD 5,161
                  </h2>
                  <small class="text-gray-600">已售出 3,321 件</small>
                </div>
                <!-- btn -->
                <div class="d-flex flex-column flex-xl-row gap-4">
                  <button type="button" class="btn btn-primary w-xl-50">
                    直接購買
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary bg-white w-xl-50"
                  >
                    加進購物車
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- other-section -->
        <section class="py-10 py-lg-25">
          <div class="container d-flex flex-column">
            <!-- title -->
            <h2 class="fs-0 lh-0 text-center text-lg-start mb-6 mb-lg-15">
              <picture class="mb-2 mb-lg-4">
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/product-intro/title1.svg"
                />
                <img src="/assets/images/product-intro/title1-sm.svg" alt="" />
              </picture>
            </h2>
            <!-- cards -->
            <div class="overflow-visible position-relative mb-6 mb-lg-15">
              <div class="swiper swiper3">
                <div class="swiper-wrapper">
                  <!-- 01 -->
                  <div class="swiper-slide">
                    <div
                      class="product-card border p-6 rounded-4 position-relative"
                    >
                      <div class="ratio ratio-19x20 mb-4">
                        <img
                          src="/assets/images/home/section1/image1.png"
                          alt="感官教具積木組"
                          class="rounded object-fit-cover"
                        />
                      </div>
                      <div>
                        <h4 class="mb-2 fs-md fw-normal lh-base">
                          感官教具積木組
                        </h4>
                        <p class="fw-bold text-primary-600">NT$ 7,777</p>
                      </div>
                      <!-- badge -->
                      <span
                        class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                        >熱賣中</span
                      >
                      <!-- heart -->
                      <button
                        type="button"
                        class="product-card__favBtn favBtn"
                        aria-label="加入收藏"
                      >
                        <i class="fi fi-sr-heart"></i>
                      </button>
                    </div>
                  </div>
                  <!-- 02 -->
                  <div class="swiper-slide">
                    <div
                      class="product-card border p-6 rounded-4 position-relative"
                    >
                      <div class="ratio ratio-19x20 mb-4">
                        <img
                          src="/assets/images/home/section1/image2.png"
                          alt="感官教具積木組"
                          class="rounded object-fit-cover"
                        />
                      </div>
                      <div>
                        <h4 class="mb-2 fs-md fw-normal lh-base">
                          感官教具積木組
                        </h4>
                        <p class="fw-bold text-primary-600">NT$ 7,777</p>
                      </div>
                      <!-- badge -->
                      <span
                        class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                        >熱賣中</span
                      >
                      <!-- heart -->
                      <button
                        type="button"
                        class="product-card__favBtn favBtn"
                        aria-label="加入收藏"
                      >
                        <i class="fi fi-rr-heart"></i>
                      </button>
                    </div>
                  </div>
                  <!-- 03 -->
                  <div class="swiper-slide">
                    <div
                      class="product-card border p-6 rounded-4 position-relative"
                    >
                      <div class="ratio ratio-19x20 mb-4">
                        <img
                          src="/assets/images/home/section1/image3.png"
                          alt="感官教具積木組"
                          class="rounded object-fit-cover"
                        />
                      </div>
                      <div>
                        <h4 class="mb-2 fs-md fw-normal lh-base">
                          感官教具積木組
                        </h4>
                        <p class="fw-bold text-primary-600">NT$ 7,777</p>
                      </div>
                      <!-- badge -->
                      <span
                        class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                        >熱賣中</span
                      >
                      <!-- heart -->
                      <button
                        type="button"
                        class="product-card__favBtn favBtn"
                        aria-label="加入收藏"
                      >
                        <i class="fi fi-rr-heart"></i>
                      </button>
                    </div>
                  </div>
                  <!-- 04 -->
                  <div class="swiper-slide">
                    <div
                      class="product-card border p-6 rounded-4 position-relative"
                    >
                      <div class="ratio ratio-19x20 mb-4">
                        <img
                          src="/assets/images/home/section1/image4.png"
                          alt="感官教具積木組"
                          class="rounded object-fit-cover"
                        />
                      </div>
                      <div>
                        <h4 class="mb-2 fs-md fw-normal lh-base">
                          感官教具積木組
                        </h4>
                        <p class="fw-bold text-primary-600">NT$ 7,777</p>
                      </div>
                      <!-- badge -->
                      <span
                        class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                        >熱賣中</span
                      >
                      <!-- heart -->
                      <button
                        type="button"
                        class="product-card__favBtn favBtn"
                        aria-label="加入收藏"
                      >
                        <i class="fi fi-rr-heart"></i>
                      </button>
                    </div>
                  </div>
                  <!-- 05 -->
                  <div class="swiper-slide">
                    <div
                      class="product-card border p-6 rounded-4 position-relative"
                    >
                      <div class="ratio ratio-19x20 mb-4">
                        <img
                          src="/assets/images/home/section1/image5.png"
                          alt="感官教具積木組"
                          class="rounded object-fit-cover"
                        />
                      </div>
                      <div>
                        <h4 class="mb-2 fs-md fw-normal lh-base">
                          感官教具積木組
                        </h4>
                        <p class="fw-bold text-primary-600">NT$ 7,777</p>
                      </div>
                      <!-- badge -->
                      <span
                        class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                        >熱賣中</span
                      >
                      <!-- heart -->
                      <button
                        type="button"
                        class="product-card__favBtn favBtn"
                        aria-label="加入收藏"
                      >
                        <i class="fi fi-rr-heart"></i>
                      </button>
                    </div>
                  </div>
                  <!-- 06 -->
                  <div class="swiper-slide d-none d-lg-block">
                    <div
                      class="product-card border p-6 rounded-4 position-relative"
                    >
                      <div class="ratio ratio-19x20 mb-4">
                        <img
                          src="/assets/images/home/section2/image2.png"
                          alt="感官教具積木組"
                          class="rounded object-fit-cover"
                        />
                      </div>
                      <div>
                        <h4 class="mb-2 fs-md fw-normal lh-base">
                          感官教具積木組
                        </h4>
                        <p class="fw-bold text-primary-600">NT$ 7,777</p>
                      </div>
                      <!-- badge -->
                      <span
                        class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                        >熱賣中</span
                      >
                      <!-- heart -->
                      <button
                        type="button"
                        class="product-card__favBtn favBtn"
                        aria-label="加入收藏"
                      >
                        <i class="fi fi-sr-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev d-none d-lg-block">
                <i class="fi fi-rr-angle-small-left"></i>
              </div>
              <div class="swiper-button-next d-none d-lg-block">
                <i class="fi fi-rr-angle-small-right"></i>
              </div>
            </div>
            <!-- btn -->
            <button
              type="button"
              class="btn btn-outline-primary w-50 w-lg-25 align-self-center align-self-lg-end"
            >
              選購去
            </button>
          </div>
        </section>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/favBtn.js"></script>
    <script type="module" src="../js/swiper.js"></script>
  </body>
</html>
