<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>產品分類｜Play Grow</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('./layout/header') %>

    <%- include('./layout/banner', { currentPage: 'products' }) %>

    <main class="py-25">
      <div class="container">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item">
              <a href="#">親子學 - 共學積木系列</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              創意積木系列
            </li>
          </ol>
        </nav>

        <!-- main content -->
        <div class="row">
          <!-- sidebar -->
          <div class="col-3">
            <nav class="sidebar-menu">
              <ul>
                <li class="menu-item">
                  <span>產品分類</span>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span>新品報到</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span>冠軍排名</span>
                  </a>
                </li>
                <li class="menu-item has-submenu">
                  <a href="#">
                    <span>限時搶購</span>
                  </a>
                  <ul class="submenu">
                    <li><a href="#">超級品牌月 - 全面 88 折</a></li>
                    <li><a href="#">周年慶 - 滿千折百</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span>創意積木</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span>美術繪本</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-9"></div>
        </div>
      </div>
    </main>

    <main></main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
