<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>產品分類｜Play Grow</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('./layout/header') %>

    <%- include('./layout/banner', { currentPage: 'products' }) %>

    <main class="py-25">
      <div class="container">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb" class="mb-15">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item">
              <a href="#">親子學 - 共學積木系列</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              創意積木系列
            </li>
          </ol>
        </nav>

        <!-- main content -->
        <div class="row">
          <!-- sidebar -->
          <div class="col-3">
            <nav class="sidebar-menu">
              <ul>
                <li class="menu-title">
                  產品分類
                </li>
                <li class="menu-item">
                  <a href="#">
                    新品報到
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#">
                    冠軍排名
                  </a>
                </li>
                <li class="menu-item has-submenu">
                  <a href="#">
                    限時搶購
                  </a>
                  <ul class="submenu">
                    <li><a href="#">超級品牌月 - 全面 88 折</a></li>
                    <li><a href="#">周年慶 - 滿千折百</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#">
                    創意積木
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#">
                    美術繪本
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-9">
            <div class="p-6 bg-secondary-100 rounded rounded-4 border border-gray-300 mb-6">
              <h2 class="h6 text-primary mb-3">積木．孩子成長的創造夥伴</h2>
              <small class="text-gray-700">在忙碌的生活中，沒有什麼比和孩子一起動手拼積木更有意義了。 無論是親子共創一座夢想城堡，還是孩子獨立完成一個太空基地，PlayGrow親子學共學積木系列都提供多種造型與玩法，滿足孩子對創造世界的無限想像。 選擇PlayGrow 親子學，輕鬆打造專屬於你們的學習時光，享受從玩中學、從學中玩的高品質共學體驗。</small>
            </div>
            <ul>
              <li><a href="#">
                <div class="swiper-slide d-none d-lg-block">
                <div
                  class="product-card border p-6 rounded-4 position-relative"
                >
                  <div class="ratio ratio-19x20 mb-4">
                    <img
                      src="/assets/images/home/section2/image2.png"
                      alt="感官教具積木組"
                      class="rounded object-fit-cover"
                    />
                  </div>
                  <div>
                    <h4 class="mb-2 fs-md fw-normal lh-base">感官教具積木組</h4>
                    <p class="fw-bold text-primary-600">NT$ 7,777</p>
                  </div>
                  <!-- badge -->
                  <span
                    class="product-card__badge badge rounded-pill text-bg-secondary-300 fs-sm fw-normal"
                    >熱賣中</span
                  >
                  <!-- heart -->
                  <button
                    type="button"
                    class="product-card__favBtn favBtn"
                    aria-label="加入收藏"
                  >
                    <i class="fi fi-sr-heart"></i>
                  </button>
                </div>
              </div>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <main></main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
