// fs-xs.sm.lg
$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      responsive: true,
      property: font-size,
      class: fs,
      values:
        map-merge(
          map-merge(
            map-get(map-get($utilities, "font-size"), "values"),
            (
              "xs": $font-size-base * 0.75,
              "sm": $font-size-base * 0.875,
              "md": $font-size-base,
              "lg": $font-size-base * 1.25,
            )
          ),
          (
            "display-1": 4rem,
            "display-2": 3rem,
          )
        ),
    ),
  )
);

// lh-0
$utilities: map-merge(
  $utilities,
  (
    "line-height": (
      responsive: true,
      property: line-height,
      class: lh,
      values:
        map-merge(
          map-get(map-get($utilities, "line-height"), "values"),
          (
            0: 0,
          )
        ),
    ),
  )
);
